.relationship .hit-area {
  stroke: transparent;
  stroke-width: 25;
  fill: none;
  pointer-events: stroke;
  cursor: pointer;
}
.relationship .main-line {
  stroke: #607d8b;
  stroke-width: 2;
  marker-end: url(#arrow);
  pointer-events: none;
}
.relationship-label {
  font-size: 12px;
  pointer-events: none;
}
.multiplicity-label {
  font-size: 10px;
  pointer-events: none;
}
