@use '../base/variables' as *;

.toolbar {

  &__group {
    display: flex;
    gap: 0.5rem;

    &--right {
      margin-left: auto;
    }

    &--center {
      margin: 0 auto;
    }
  }

  &__button {
    display: flex;
    align-items: center;
    gap: 0.25rem;

    i {
      font-size: 0.875rem;
    }
  }
  &__icon-button {
    padding: 0.5rem;
    min-width: 2rem;
    justify-content: center;
  }
}
