@use '../../base/variables' as *;

.diagram-rect {
  position: absolute;
  display: inline-flex;
  flex-direction: column;
  min-width: 100px;
  min-height: 100px;
  box-sizing: border-box;
  background: c(panel-bg);
  border: 2px solid c(border);
  padding: 12px;
  border-radius: 0;
  box-shadow: 0 2px 8px 0 c(shadow);
  cursor: grab;
  user-select: none;
  transition: transform .2s, box-shadow .2s, border-color .2s;


  &__section {
    margin-top: 8px;
    padding-top: 8px;

    &--with-divider {
      position: relative;
      margin-top: 16px;

      &::before {
        content: '';
        position: absolute;
        top: -8px;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: $muted-color;
      }
    }
  }


  &--selected {
    border-color: c(primary-600);
    box-shadow: 0 4px 16px 0 rgba(c(primary-600), .25);
  }

  &--empty {
    display: flex !important;
    align-items: center;
    justify-content: center;

    > header {
      margin-bottom: 0;

      &::after {
        display: none;
      }
    }
  }

  &--dragging,
  &:active {
    cursor: grabbing;
  }

  &__border {
    position: absolute;
    background-color: transparent;
    pointer-events: auto;
    cursor: crosshair;

    &--highlighted {
      background-color: c(selection-bg);
    }

    &--top {
      top: -5px;
      left: 0;
      width: 100%;
      height: 5px;
      //border-radius: 10px 10px 0 0;
    }

    &--right {
      top: 0;
      right: -5px;
      width: 5px;
      height: 100%;
      //border-radius: 0 10px 10px 0;
    }

    &--bottom {
      bottom: -5px;
      left: 0;
      width: 100%;
      height: 5px;
      //border-radius: 0 0 10px 10px;
    }

    &--left {
      top: 0;
      left: -5px;
      width: 5px;
      height: 100%;
      //border-radius: 10px 0 0 10px;
    }
  }

  &__resize-handle {
    z-index: $z-handles;
    position: absolute;
    bottom: -1px;
    right: -1px;
    width: 15px;
    height: 15px;
    background: c(primary-600);
    cursor: se-resize;
  }

}