@use '../../base/variables' as *;

.diagram-enumeration {
  background: c(enumeration-fill);
  z-index: $z-diagram-rectangle;
  min-width: 180px;
  min-height: 100px;
  overflow: visible;
  display: flex;
  flex-direction: column;

  &__header {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-bottom: 8px;
    position: relative;
    min-width: 0;

    &::after {
      content: '';
      position: absolute;
      bottom: -8px;
      left: 0;
      width: 100%;
      height: 1px;
      background: #000;
    }
  }

  &__annotation,
  &__name {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
  }

  &__annotation {
    margin-bottom: 4px;
    font-size: .875rem;
    font-style: italic;
    color: c(text-secondary);
  }

  &__name {
    font-weight: 600;
    font-size: 1rem;
    color: c(text-primary);
    background: transparent;
    border: none;
    outline: none;
  }

  &__value-list {
    list-style: none;
    margin: 0;
    padding: 0
  }

  &__value-item {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    padding-bottom: 4px;
    font-size: .9375rem;
    color: c(text-primary);
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
