@use '../base/variables' as *;

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: $color-canvas-bg;

  &__toolbar {
    z-index: 1;
    display: flex;
    gap: 0.5rem;
    padding: 0.75rem;
    background: $toolbar-bg;
    border-bottom: 1px solid $color-border;
    align-items: center;
  }

  &__main {
    overflow: hidden;
  }

  &__diagram {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    z-index: 1;
  }
}