@use '../../base/variables' as *;
@use '../../mixins/responsive' as *;

$panel-width: 40 * $spacing-unit;

.properties-panel {
  display: flex;
  flex-direction: column;
  width: $panel-width;
  min-width: $panel-width;
  max-width: 100%;
  height: 100%;
  padding: $spacing-unit * 2;
  background: $panel-bg;
  border-left: 1px solid c(border);
  overflow-y: auto;
  position: fixed;
  top: 0;
  right: 0;
  transform: translateX(100%);
  transition: transform .3s ease;
  z-index: $z-handles;

  &--open {
    transform: none;
  }

  &__content {
    flex: 1 0 auto;
  }

  &__empty-message {
    margin: auto;
    color: c(text-subtle);
    font-style: italic;
    text-align: center;
  }

  @include respond(md) {
    position: relative;
    transform: none;
    border-left: 1px solid c(border);
  }
}
